
.container-fluid{
    padding:0px;
    background-color:#d1c9c9;
}
.header{
    background-color: #842a44;
}
.header-logo{
    padding: 10px;
    margin-left: 20px;
}

.header-nav{
    color: #fff;
    margin-top: 20px;
}
.nav-pills-ul{
    margin-left: 80px;
}

.img-size{
    width: 100%;
    height: 400px;
}
.content-img{
    width: 600px;
    height: 300px;
}
.panel-size{
    height: 300px;
}
.panel-title,.panel-body{
    text-align: center;
}